In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df=pd.read_csv('house_clean.csv')

FIND AGE OF THE HOUSE

In [6]:
df['age']=2025-df['yr_built']

FIND PRICE PER SQFT

In [7]:
df['price_per_sqft'] =(df['price'] / df['sqft_living']).round(2)

In [8]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_renovated,street,city,statezip,country,year,month,day,age,price_per_sqft
0,2014-05-02,313000.0,3,1,1340.0,7560.0,1,no,No,average,...,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA,2014,5,2,70,233.58
1,2014-05-02,469000.0,5,2,3650.0,9466.5,2,no,excellent,excellent,...,0,709 W Blaine St,Seattle,WA 98119,USA,2014,5,2,104,128.49
2,2014-05-02,342000.0,3,2,1930.0,7560.0,1,no,No,good,...,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,2014,5,2,59,177.20
3,2014-05-02,420000.0,3,2,2000.0,7560.0,1,no,No,good,...,0,857 170th Pl NE,Bellevue,WA 98008,USA,2014,5,2,62,210.00
4,2014-05-02,550000.0,4,2,1940.0,8265.0,1,no,No,good,...,1992,9105 170th Ave NE,Redmond,WA 98052,USA,2014,5,2,49,283.51

In [9]:
df.to_csv('house_clean.csv',index=False)